<div class="navbar">
    <h1 routerLink="" class="logo">{{ title }}</h1>
    <div class="nav-links">
        <h3 *ngIf="isLoggedin && curUser" style="display: inline;">
            Welcome {{curUser.details["type"]|titlecase}} {{curUser.details["name"]}}</h3>
        <button *ngIf="!isLoggedin" routerLink="login" class="nav-btn">Login / Register</button>
        <button *ngIf="isLoggedin" routerLink="dashboard" class="nav-btn">Dashboard</button>
        <button *ngIf="isLoggedin" (click)="logout()" class="nav-btn">Logout</button>

    </div>
</div>
<router-outlet></router-outlet>