<div *ngIf="curUser" class="center">
    
    <form [formGroup]="appointFrom" (ngSubmit)="book()">
        <div>
            
            <mat-form-field>
                <input matInput type="number" placeholder="Doctor ID" formControlName="doctor_id">
                
            </mat-form-field>
        </div>
        <div>
            
            <mat-form-field>
                <input matInput type="number" placeholder="Slot ID" formControlName="slot_id">
                
            </mat-form-field>
        </div>
        <div>
            
            <mat-form-field>
                <mat-label>Select Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <br>
        <br>
        <button mat-raised-button color="primary" type="submit" 
                [disabled]="!(appointFrom.valid && appointFrom.dirty)">Book Appointment</button>

        <mat-error>
            {{errmsg}}
        </mat-error>
        <h4 style="color: green;">{{successMsg}}</h4>
        <br><br>
    </form>

</div>