<div *ngIf="docList" class="center">
    
    <form [formGroup]="docForm" (ngSubmit)="next()">
        <br>
        <mat-form-field appearance="">
            <mat-label>Select Doctor</mat-label>
            <mat-select formControlName="doctor">
              <mat-option *ngFor="let d of docList" [value]="d">
                {{d["name"]}} {{d["fee"]}} ({{d["dept_name"]}})
              </mat-option>
            </mat-select>
        </mat-form-field>
            
        <button mat-raised-button color="primary" type="submit" 
                [disabled]="!(docForm.valid)">Next</button>
    </form>
</div>

<div *ngIf="slotList" class="center">
    
    <form [formGroup]="slotForm" (ngSubmit)="book()">
        <mat-form-field appearance="">
            <mat-label>Select Slot</mat-label>
            <mat-select formControlName="slot">
              <mat-option *ngFor="let s of slotList" [value]="s">
                {{s["slot_name"] | titlecase}} {{s["dateStr"]}} [{{s["start_time"]}}-{{s["end_time"]}}] {{s['bookings']}}
              </mat-option>
            </mat-select>
        </mat-form-field>
            
        <button mat-raised-button color="primary" type="submit" 
                [disabled]="!(slotForm.valid)">Book</button>
        
    </form>

</div>

<div *ngIf="DOC && SLOT" class="center">
    <h3>{{DOC | json}}</h3>
    <h3>{{SLOT | json}}</h3>
    <button mat-raised-button color="primary" (click)="checkout()" >Checkout</button>
</div>

<div class="center">
    <mat-error>
        {{errmsg}}
    </mat-error>
    <h4 style="color: green;">{{successMsg}}</h4>
    <br>
</div>