<div class="center">
    
    <form [formGroup]="detailFrom" (ngSubmit)="update()">
        <div formGroupName="phone">
            <mat-form-field>
                <input matInput type="text" placeholder="country code" formControlName="country_code">
                <mat-error *ngIf="ccode.invalid">
                    country code is of type "+xx"
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="phone number" formControlName="phone">
                <mat-error *ngIf="phone.invalid">
                    enter a 10 digit number
                </mat-error>
            </mat-form-field>
        </div>

        <mat-form-field>
            <input matInput type="text" placeholder="Your Name" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="">
            <mat-label>Select you DOB</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        
        <mat-form-field appearance="">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let v of genderVal" [value]="v">
                {{v | titlecase}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="number" placeholder="Account Number" formControlName="account_info">
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="text" placeholder="Address" formControlName="address">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="District" formControlName="district">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="State" formControlName="state">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Country" formControlName="country">
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="text" placeholder="Height" formControlName="height">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Weight" formControlName="weight">
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button color="primary" type="submit" 
                [disabled]="!(detailFrom.valid && detailFrom.dirty)">Update Details</button>

        <mat-error>
            {{errmsg}}
        </mat-error>
        <h4 style="color: green;">{{successMsg}}</h4>
        <br><br>
    </form>

</div>