<div *ngIf="detailFrom" class="center">
    
    <form [formGroup]="detailFrom" (ngSubmit)="addstaff()">
        <h3 style="align-self:flex-start;">Basic Details</h3>
        <div formGroupName="phone">
            <mat-form-field>
                <input matInput type="text" placeholder="country code" formControlName="country_code">
                <mat-error *ngIf="ccode.invalid">
                    country code is of type "+xx"
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="phone number" formControlName="phone">
                <mat-error *ngIf="phone.invalid">
                    enter a 10 digit number
                </mat-error>
            </mat-form-field>
        </div>

		<mat-form-field>
			<input matInput type="password" placeholder="Password" formControlName="password">
			<mat-error *ngIf="password.invalid">
				password length must be >= 6
			</mat-error>
		</mat-form-field>
		<br>

        <mat-form-field>
            <input matInput type="text" placeholder="Your Name" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="">
            <mat-label>Select you DOB</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field appearance="">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let v of genderVal" [value]="v">
                {{v | titlecase}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <br>

		<mat-form-field>
            <input matInput type="number" placeholder="Salary" formControlName="salary">
        </mat-form-field>

		<mat-form-field appearance="">
            <mat-label>Slot Name</mat-label>
            <mat-select formControlName="slot_name">
              <mat-option *ngFor="let sn of slotNames" [value]="sn['name']">
                {{sn['name'] | titlecase}}
              </mat-option>
            </mat-select>
        </mat-form-field>

		<mat-form-field appearance="">
            <mat-label>Staff Type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let st of staffType" [value]="st">
                {{st | titlecase}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput type="text" placeholder="Address" formControlName="address">
        </mat-form-field>
		<br>

		<div *ngIf="type.value=='doctor'">
			<mat-form-field >
				<input matInput type="text" placeholder="Department" formControlName="dept_name">
			</mat-form-field>
			<mat-form-field >
				<input matInput type="text" placeholder="Fee" formControlName="fee">
			</mat-form-field>
			<br>
			<mat-form-field >
				<input matInput type="text" placeholder="Room No." formControlName="room_no">
			</mat-form-field>
			<mat-form-field >
				<input matInput type="text" placeholder="Appoints per slot" formControlName="appoints_per_slot">
			</mat-form-field>
		</div>

		<div *ngIf="type.value=='nurse'">
			<mat-form-field >
				<input matInput type="text" placeholder="Department" formControlName="dept_name">
			</mat-form-field>
			<mat-form-field >
				<input matInput type="text" placeholder="Ward Num" formControlName="ward_num">
			</mat-form-field>
		</div>

        <br>
        <button mat-raised-button color="primary" type="submit" 
                [disabled]="!(detailFrom.valid && detailFrom.dirty)">Add Staff</button>

        <mat-error>
            {{errmsg}}
        </mat-error>
        <h4 style="color: green;">{{successMsg}}</h4>
        <br><br>
    </form>

</div>